[
  	{net_check, []},
  	{kernel,
  		[
  			{logger_level, info},
  			{logger,
    			[
    				{handler, default, logger_std_h,
      					#{
      						level => info,
      						formatter => {logger_formatter,
                        		#{template => [time," ",pid," ",msg,"\n"]}}
                       	}
                    },
    				{handler, file_client, logger_disk_log_h,
      					#{
      						level => info, 
      						config => #{file => "/tmp/net_client.log", max_no_bytes => 1073741824, max_no_files => 5},
							filters => [
								{client,{fun logger_filters:domain/2,{log,sub,[net_client]} }}
							]
						}},
					{handler, file_server, logger_disk_log_h,
						#{
							level => info,
							config => #{file => "/tmp/net_server.log", max_no_bytes => 1073741824, max_no_files => 5},
							filters => [
								{server,{fun logger_filters:domain/2,{log,sub,[net_server]} }}
							]
					}},
					{handler, common, logger_disk_log_h,
						#{
							level => info,
							config => #{file => "/tmp/common.log", max_no_bytes => 1073741824, max_no_files => 5}

					}},
      				{handler, error_info, logger_disk_log_h,
      					#{
      						level => error, 
      						config => #{file => "/tmp/net_error.log", max_no_bytes => 1073741824, max_no_files => 5}}}
      			]}
      	]}
].
